camel-tools==1.5.2
transformers==4.34.1
scikit-learn==1.2.2
torch==2.1.0
numpy==1.23.5
faiss-cpu==1.7.4
pytest==7.4.2
datasets==2.14.6
umap-learn==0.5.4
scipy==1.11.3
gensim==4.3.2
pot==0.9.1
tensorflow==2.14.0
Arabic-Stopwords==0.4.3
qalsadi==0.5